<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.mynotesapplication">

    <application
            android:allowBackup="true"
            android:icon="@drawable/twotone_note_24"
            android:label="@string/app_name"
            android:roundIcon="@drawable/twotone_note_24"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".NoteListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".NoteDetailActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:parentActivityName=".NoteListActivity">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".NoteListActivity">

            </meta-data>
        </activity>
    </application>

</manifest>